<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./css/registerStyles.css">
</head>
<body>

<form class="center">
    <label for="id" class="border-input">ID:</label>
    <input type="text" id="id" name="id">
    <br><br>
    <label for="name" class="border-input">Name and Surname:</label>
    <input type="text" id="name" name="name">
    <br><br>
    <label for="address" class="border-input">Address:</label>
    <textarea id="address" name="address"></textarea>
    <br><br>
    <input class="bottomGreen" type="submit" value="Save">
    <input class="bottomGreen" type="button" value="Cancel" onclick="location.href='https://www.youtube.com/'">
</form>

</body>
</html>