table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
} th {
    background-color: yellow;
} .hiddenInput{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}.bottomRight{
    bottom: 10px;
    right: 16px;
    text-align:right;
    background:lightGreen;
 }