.center {
    margin: 0 auto;
    width: 50%; /* or any width you want */
 }
.border-input {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: black;
 }
 div {
    text-align: center;
 } .bottomGreen{
    bottom: 10px;
    right: 16px;
    text-align:right;
    background:lightGreen;
 }